body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gainsboro;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.container h2 {
    margin-top: 0;
}

.profile-info p {
    margin: 5px 0;
}

.profile-info strong {
    font-weight: bold;
    margin-right: 5px;
}

.bank-account {
    margin-top: 20px;
}

.bank-account h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
}

.bank-account form {
    margin-bottom: 20px;
}

.bank-account label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.bank-account input[type="text"] {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.bank-account button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.bank-account button[type="submit"]:hover {
    background-color: #444;
}

.param
{
    text-align: center;
}

.bout{
    text-align: center;
}

.bout a
{
    text-align: center;
    font-family: Arial, sans-serif;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.bout .suppr {
    margin-top: 30px;
}

.confirme {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.confirme h2{
    text-align: center;
}

form input[type="text"] {
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #444;
}

.formulaire{
    text-align: center;
}

.container .accepter{
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.container .accepter h2 {
    text-align: center;
    margin-top: 0;
}